*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 35%;
}
body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 20%);
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration-color: whitesmoke;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

 .homeBox {
     width: 1000px;
     max-width: 80%;
     border: 4px solid black;
     background-color:rgb(100, 15, 100);
     margin-top: 100px;
     margin-bottom: 20px;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0 0 10px 2px;
 }

 .btn-grid{
  margin-top: 30px ;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
 }

  .btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    color: whitesmoke;
    font-size: 16px;
    border: 4px solid whitesmoke;
    cursor: grab;
    padding: 25px 25px;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
  }
  
  .btn:hover {
    background-color: rgb(60, 164, 233);
    color: white;
  }

  .next-btn{
    width: 150px;
    border-radius: 20px ;
  }

  body.neutral {
    --hue: var(--hue-neutral);
  }

  body.correct {
    --hue: var(--hue-correct);
  }

  /*.btn.correct{
    --hue: var(--hue-correct);
  }*/

  body.wrong {
    --hue: var(--hue-wrong);
  }

  .inline{
    display: inline-block;
  }
  
  .poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }
  .hide {
    display: none;
  }

